# Local PostgreSQL 17 example
# Replace the password and database name for your environment.
DATABASE_URL="postgresql://postgres:your_password@localhost:5432/injeuri?schema=public"
//.env 예시파일임 맞춰서 쓰셈. localhost는 자기 SQL 포트 잡은거 가져다 쓰면됨